[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/jfm0/arduino-esp32.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
